.icon-money-dark {
	background-image: url('../../img/money-dark.svg');
}

.accountdetails__header {
	/*height: 100px;*/
	/*padding-left: 20px;*/
	display: flex;
	flex-direction: column;
	/*color: #fff;*/
	font-weight: bold;
	align-items: center;
}

.accountdetails__header input {
	width: initial;
}

/* Override input.css */
.accountdetails__header input:disabled {
	background: inherit;
}

.accountdetails__header #details-account-infos {
	width: 100%;
	/*margin: 2px 6px 0px;*/
	padding: 10px;
	flex-grow: 1;
}
.accountdetails__header h2 {
	margin: 0;
}
.accountdetails__header #accountdetails-container {
	display: flex;
	flex-wrap: wrap;
}
.accountdetails__header .accountdetails__name,
.accountdetails__header .accountdetails__currency,
.accountdetails__header .accountdetails__description {
	font-size: inherit;
	/*color: #fff !important; /* override focus,active&hover */*/
	background: transparent;
	border: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100%;
	margin: 0;
	padding: 4px 5px;
}
.accountdetails__header .accountdetails__currency,
.accountdetails__header .accountdetails__description {
	max-width: 50%;
	min-width: 150px;
}
.accountdetails__header .accountdetails__name {
	width: 100%;
}
.accountdetails__header #details-actions-toggle {
	display: flex;
	flex-shrink: 0;
	width: 100%;
	padding: 10px;
}

.accountdetails__header #details-actions {
	display: flex; /* Does not work with angularSlideable.js */
	padding: 10px;
	width: 100%;
	border-top: 1px solid #ddd;
}

.accountdetails__header .select2-container {
	/*width: 100%;*/
	margin: 0;
}

.accountdetails__header .select2-container .select2-choice {
	border: 0;
	background: none;
	color: inherit;
}

/* fix placeholder color */
.accountdetails__header .accountdetails__name::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	/*color: #fff;*/
	opacity: .8;
}
.accountdetails__header .accountdetails__name::-moz-placeholder { /* Mozilla Firefox 19+ */
	/*color: #fff;*/
	opacity: .8;
}
.accountdetails__header .accountdetails__name:-ms-input-placeholder { /* Internet Explorer 10-11 */
	/*color: #fff;*/
	opacity: .8;
}
.accountdetails__header .accountdetails__name:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
	/*color: #fff;*/
	opacity: .8;
}

.accountdetails__header .icon-delete,
.accountdetails__header .icon-download,
.accountdetails__header .icon-upload {
	padding: 15px;
	background-color: transparent;
	border: none;
	opacity: .5;
	margin: 3px;
	display: block;
}
.accountdetails__header .icon-delete:hover,
.accountdetails__header .icon-delete:focus,
.accountdetails__header .icon-download:hover,
.accountdetails__header .icon-download:focus,
.accountdetails__header .icon-upload:hover,
.accountdetails__header .icon-upload:focus {
	opacity: .7
}

.accountdetails__logo {
	height: 75px;
	width: 75px;
	object-fit: cover;
	background-color: transparent;
	margin: 0;
}

#check-all + label:before {
	position: absolute;
	top: 18px;
	left: 68px;
}

.account__icon {
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
	color: white;
	text-align: center;
	font-size: 1.5em;
	text-transform: capitalize;
	object-fit: cover;
}

.accountdetails__header + section {
	/*padding: 20px 20px 100px;*/
}

/* @media screen and (min-width: 1450px) {
	section {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
/*		-moz-column-count: 2; /* Firefox */
/*		column-count: 2;
	}
}*/

ul.dropdown-menu li.active {
	background: #eee;
}

div.app-accounts span.utils {
	padding: 0 !important;
	float: right;
	position: relative !important;
}

#app-settings-content #upload.button {
	width: 100%;
	padding: 7px 10px;
	padding-left: 34px;
	background-position: 10px center;
	text-align: left;
	margin: 0;
	display: block;
	margin-bottom: 10px;
}


/* Account List */
#new-account-button {
	margin: 14px auto; /* to have the same height than a account*/
	width: calc(100% - 20px) !important;
	text-align: left;
	padding-left: 34px;
	background-position: 10px center;
}



/* app content list & detail view */
/* TO BE MOVED TO CORE apps.css ONCE STANDARDIZED ACROSS APPS */
/* DO NOT MAKE ANY CHANGES SPECIFIC TO accountS HERE! */

.app-content-list {
	width: 30%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 1px solid #eee;
}

.app-content-detail {
	position: absolute;
	top: 0;
	right: 0;
	width: 70%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.app-content-list-button {
	display: block;
	margin: 10px auto;
	padding: 10px;
}

.app-content-list-item {
	position: relative;
	height: 68px;
	border-top: 1px solid #eee;
	cursor: pointer;
}
.app-content-list-item:hover,
.app-content-list-item:focus,
.app-content-list-item.active {
	background-color: #f8f8f8;
}
.app-content-list-item-link {
	display: block;
	height: 100%;
}

.app-content-list-item-icon {
	margin: 10px;
	display: inline-block;
}

.app-content-list-item-star {
	position: absolute;
	display: none; /* change to inline-block when we implement it */
	left: 16px;
	top: 28px;
	padding: 20px;
	background-size: 16px;
	z-index: 100;
}

.app-content-list-item-line-one,
.app-content-list-item-line-two {
	position: absolute;
	display: inline-block;
	width: 100%;
	padding: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.app-content-list-item-line-one.no-line-two {
	padding-top: 24px;
	padding-bottom: 24px;
}
.app-content-list-item-line-one {
	font-size: 1.1rem;
}
.app-content-list-item-line-two {
	top: 25px;
	opacity: .5;
}

.app-content-list-item-value {
	float: right;
	font-size: 1.1rem;
	padding: 12px;
}

#app-navigation .utils .action span {
	cursor: pointer !important;
}
#app-navigation .utils .action {
	opacity: .5;
}
#app-navigation .utils .action:hover,
#app-navigation .utils .action:focus {
	opacity: 1;
}

#app-navigation > ul {
	height: calc(100% - 24px);
}

#app-navigation li {
	padding: 0 12px;
	min-height: 44px;
	line-height: 44px;
}

#app-navigation li > a {
	padding: 0;
}

/* styling for account count in account list */
.accounts-list-count,
.transactions-list-count {
	text-align:center;
	color: #333;
	padding:25px;
	position: relative;
	height: 68px;
	border-top: 1px solid #eee;
}

/* SELECT2 styling - MOVE TO CORE FOR 9.1! */

.select2-container .select2-choice {
		padding: 0;
}
/*.select2-container-multi .select2-choices {
	border-color: #ddd !important;
	background-image: none !important;
}
.select2-container-multi.select2-container-active .select2-choices {
	border-color: #ddd !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.select2-container-multi .select2-choices .select2-search-field input {
	font-family: inherit !important;
}
.select2-container-multi .select2-choices .select2-search-choice {
	background-color: rgba(240,240,240,.9) !important;
	border-color: rgba(240,240,240,.9) !important;
	color: #555 !important;
	background-image: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}*/
.select2-drop-active {
	border-color: #ddd !important;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1) !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1) !important;
}
/*.select2-results .select2-highlighted {
	background-color: #f8f8f8 !important;
	color: #555 !important;
}
.select2-results .select2-result-label span {
	cursor: pointer !important;
}*/

/* Mobile width < 768px */
@media only screen and (max-width: 768px) {

	/* full width for message list on mobile */
	.app-content-list {
		width: 100%;
		background: white;
		position: relative;
		z-index: 100;
	}

	/* overlay message detail on top of message list */
	.app-content-detail {
		background: #fff;
		width: 100%;
		left: 0;
		height: 100%;
		top: 0;
		box-shadow: 0 0 100px rgba(100, 100, 100, .9);
		position: absolute;
	}

	.wrapper-show:not(.mobile-show),
	.accounts-list:not(.mobile-show) {
		display: none;
	}


	#app-navigation-toggle.showdetails {
		transform: translate(-50px, 0);
	}

	#app-navigation-toggle-back {
		position: fixed;
		display: inline-block !important;
		top: 45px;
		left: 0;
		width: 44px;
		height: 44px;
		z-index: 149;
		background-color: rgba(255, 255, 255, .7);
		cursor: pointer;
		opacity: .6;
		transform: rotate(90deg);
	}

	/* end of media query */
}

.account-details-wrapper {
	position: relative;
	background: white;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}
.wrapper-show {
	z-index: 101;
}
#app-navigation-toggle-back {
	display: none;
}

/* clipboard button */
.icon-clippy {
	background-image: url('../../img/clippy.svg');
	background-size: 16px 16px;
}

.oneline {
	position: relative;
}

.addressBookUrl {
	width: 100% !important;
}

#copyButton {
	position: absolute;
	right: 0;
	top: 1px;
	background-color: white;
	border: none;
}

/* account types list */

.account-types-list-item {
	font-size: 1.1rem;
}

.account-types-list-item-value {
	float: right;
}

.account-types-list-item-name {
	float: left;
}

/* currency input */

input[currency-input] {
	text-align: right;
}

/* transaction list */

.transaction-list {

}

.transaction-list input {
	border: 0;
	width: 100%;
	margin: 0;
	background: none;
	color: inherit;
}

.transaction-list button {
	border: 0;
	background-color: transparent;
}

.transaction-list .select2-container {
	width: 100%;
	margin: 0;
}

.transaction-list .select2-container .select2-choice {
	border: 0;
	background: inherit;
	color: inherit;
}

.transaction-list-transaction {
	display: table-row-group;
	border-top: 1px solid #ddd;
}

.transaction-list-table {
	border-collapse: collapse;
	width: 100%;
	display: table;
}

.transaction-list-table input {
	border: 0;
}

.transaction-list-item {
	/*box-shadow: 1px 1px 3px #ddd;*/
}

/*.transaction-list-item-actions .loading {
	width: 10px;
	height: 10px;
}*/

.transaction-list-header,
.transaction-list-item,
.transaction-list-item-split {
	display: table-row;
}

.transaction-list-item-split {

}

.transaction-list-item-split:nth-child(even) {
	/*background-color: #ccc;*/
}

/* transaction list item */

.transaction-list-item-cell,
.split-list-item-cell,
.transaction-list-header-item {
	/*border: 1px solid #ddd;*/
	display: table-cell;
	/*height: 68px;*/
	/*margin-top: 5px;*/
	/*margin-bottom: 5px;*/
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: middle;
}

.transaction-list-header-item {
	font-weight: bold;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 5px;
}

.split-list-item-empty-cell {
	border: 0;
}

.transaction-list-item-link {
	display: block;
	height: 100%;
	padding: 10px;
}

.transaction-list-item-date,
.transaction-list-item-description,
.transaction-list-item-destination-account,
.transaction-list-item-value,
.transaction-list-item-actions {
	display: table-cell;
	vertical-align: middle;
}

.transaction-list-item-date {
	width: 8em;
}

.transaction-list-item-description {

}

.transaction-list-item-destination-account {

}

.transaction-list-item-value {
	/*font-size: 1.1rem;*/
	text-align: right;
	width: 8em;
}

.transaction-list-item-actions {
	width: 1em;
}

.transaction-list-item-status {
	width: 1em;
	height: 1em;
	border-radius: 50px;
	display: inline-block;
	vertical-align: middle;
}

.row-separator {
	display: table-row;
	height: 15px;
	/*border-top: 1px solid #ddd;*/
}

/* Import Transactions Panel */

.import-transactions-panel {
	border: 2px solid rgba(0, 0, 255, 1);
	background: rgba(0, 0, 255, 0.2);
}
