<div class="account-details-wrapper wrapper-show" ng-class="{'mobile-show':ctrl.show}">
	<div id="app-navigation-toggle-back" class="details-back icon-download" ng-click="ctrl.clearAccount()"></div>
	<div ng-if="ctrl.account===undefined && !ctrl.loading">
		<div id="emptycontent" class="">
			<div class="icon-contacts-dark"></div>
			<h2>{{ctrl.t.noAccounts}}</h2>
		</div>
	</div>
	<div ng-if="ctrl.account!==undefined">
		<header class="accountdetails__header" ng-style="{'background-color': (ctrl.account.type | accountColor)}">
			<avatar data="ctrl.account" ng-class="" class="avatar--missing"></avatar>
			<div id="details-account-infos">
				<h2>
					<input type="text" id="details-fullName" class="accountdetails__name" placeholder="{{ctrl.t.placeholderName}}" autocomplete="off"
						   name="fullname" ng-model="ctrl.account.name" ng-model-options="{ getterSetter: true, debounce: 500 }" ng-change="ctrl.updateAccount()" value="" />
				</h2>
				<div id="details-org-container">
					<input type="text" id="details-org" class="accountdetails__org" placeholder="{{ctrl.t.placeholderOrg}}" autocomplete="off"
						   name="org" ng-model="ctrl.account.org" ng-model-options="{ getterSetter: true, debounce: 500 }" ng-change="ctrl.updateAccount()" value=""
						   inputresize size="{{ctrl.account.org().length > 1 ? ctrl.account.org().length : '1'}}" />
					<input type="text" id="details-title" class="accountdetails__title" placeholder="{{ctrl.t.placeholderTitle}}" autocomplete="off"
						   name="title" ng-model="ctrl.account.title" ng-model-options="{ getterSetter: true, debounce: 500 }" ng-change="ctrl.updateAccount()" value=""
						   inputresize size="{{ctrl.account.title().length > 1 ? ctrl.account.title().length : '1'}}" />
				</div>
			</div>
			<div id="details-actions">
				<a href="{{ctrl.account.data.url}}" id="account-export-link" class="icon-download-white" title="Download"></a>
				<button ng-click="ctrl.deleteAccount()" class="icon-delete-white" title="Delete"></button>
			</div>
		</header>
		<section>
			<transaction-list></transaction-list>
		</section>
	</div>
</div>
