<a class="app-content-list-item-link" ng-click="ctrl.openAccount()">
    <div class="app-content-list-item-icon account__icon" ng-style="{'background-color': (ctrl.account.uid() | accountColor) }">{{ ctrl.account.displayName() | firstCharacter }}</div>
    <div class="app-content-list-item-star icon-star" data-starred="false"></div>
    <div class="app-content-list-item-line-one" ng-class="{'no-line-two':!ctrl.account.email()}">{{ ctrl.account.displayName() | newAccount }}</div>
    <div class="app-content-list-item-line-two">{{ctrl.account.email()}}</div>
</a>
