<div class="account-details-wrapper wrapper-show" ng-class="{'mobile-show':ctrl.show}">
	<div id="app-navigation-toggle-back" class="details-back icon-download" ng-click="ctrl.closeAccount()"></div>
	<div ng-if="ctrl.account===undefined">
		<div id="emptycontent" class="">
			<div class="icon-contacts-dark"></div>
			<h2>{{ctrl.t.noAccount}}</h2>
		</div>
	</div>
	<div ng-if="ctrl.account!==undefined">
		<header class="accountdetails__header">
      <!-- <avatar data="ctrl.account" ng-class="{'avatar--missing': ctrl.account.avatar()===undefined}"></avatar> -->
			<div id="details-account-infos">
				<h2>
					<input type="text" id="details-fullName" class="accountdetails__name" placeholder="{{ctrl.t.placeholderName}}" autocomplete="off" autocorrect="off" spellcheck="false"
						   name="name" ng-model="ctrl.account.name" ng-model-options="{ getterSetter: true, debounce: 500 }" ng-change="ctrl.updateAccount()" value="" />
				</h2>
				<!-- <div id="accountdetails-container"> -->
					<input type="text" id="details-description" class="accountdetails__description" placeholder="{{ctrl.t.placeholderDescription}}" autocomplete="off" autocorrect="off" spellcheck="false"
						   name="description" ng-model="ctrl.account.description" ng-model-options="{ getterSetter: true, debounce: 500 }" ng-change="ctrl.updateAccount()" value=""
               inputresize size="{{ctrl.account.description.length > 1 ? ctrl.account.description.length : '1'}}" />
					<div class="app-content-list-item-value">
						<span style="vertical-align: middle;">{{ ctrl.account.balance | currency : "" }}</span> &nbsp;
						<ui-select title="Choose a currency" ng-model="ctrl.account.currency" ng-change="ctrl.updateAccount()" theme="select2" tagging tagging-label="false">
		 					<ui-select-match placeholder="{{ ctrl.t.placeholderCurrency }}">{{$select.selected}}</ui-select-match>
		 					<ui-select-choices repeat="currency in ctrl.availableCurrencies | filter: $select.search">
		 		 				<span ng-bind-html="currency | highlight: $select.search"></span>
		 		 	  	</ui-select-choices>
		 		 		</ui-select>
					</div>
				<!-- </div> -->
			</div>
			<div id="details-actions-toggle">
				<a class="icon-settings" ng-click="ctrl.toggleActionsPanel()"></a>
			</div>
			<div id="details-actions" ng-show="ctrl.showActionsPanel">
				<a ng-click="ctrl.exportAccount()" class="icon-download" title="{{ctrl.t.exportAccount}}"></a>
				<a ng-click="ctrl.deleteAccount()" class="icon-delete" title="{{ctrl.t.deleteAccount}}"></a>
				<!-- <a ng-click="ctrl.importTransactions()" class="icon-upload" title="{{ctrl.t.importTransactions}}"></a> -->
				<input id="transactions-import" type="file" class="hidden-visually">
				<label for="transactions-import" class="icon-upload" />
			</div>
		</header>
		<section>
			<transaction-list account="ctrl.account"></transaction-list>
		</section>
	</div>
</div>
