  <div class="transaction-list-item-cell"></div>
  <div class="transaction-list-item-cell"></div>
  <div class="transaction-list-item-cell"></div>
  <div class="transaction-list-item-cell"></div>
  <div class="transaction-list-item-cell"></div>
  <div class="transaction-list-item-cell">
    <button ng-click="ctrl.submitTransactions()" class="icon-checkmark" title="{{ctrl.t.submit}}" ng-show="ctrl.importTransactionsForm.$dirty"></button>
    <button ng-click="ctrl.cancelImport()" class="icon-close" title="{{ctrl.t.cancel}}"></button>
  </div>
