<div class="modal-header">
  <h3>{{ctrl.t.headerText}}</h3>
</div>
<div class="modal-body">

  <div class="transaction-list">
    <div class="transaction-list-table">
      <div class="transaction-list-header">
        <div class="transaction-list-header-item">Date</div>
        <div class="transaction-list-header-item">Description</div>
        <div class="transaction-list-header-item">Comment</div>
        <div class="transaction-list-header-item">In</div>
        <div class="transaction-list-header-item">Out</div>
      </div>

      <div class="transaction-list-item import-transactions-panel" ng-form name="ctrl.importTransactionsForm">
        <div class="transaction-list-item-cell transaction-list-item-date">
          <ui-select name="importTransactionsDateColumn" ng-model="ctrl.dateColumn" theme="select2" ng-required="true">
            <ui-select-match placeholder="Select column...">{{$select.selected.lines[0]}}</ui-select-match>
            <ui-select-choices repeat="column.id as column in ctrl.availableColumns">
              <small ng-bind-html="column.lines[0] | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select>
          <small ng-repeat="line in ctrl.availableColumns[ctrl.dateColumn].lines track by $index">{{line}}<br></small>
        </div>
        <div class="transaction-list-item-cell transaction-list-item-description">
          <ui-select name="importTransactionsDescriptionColumn" ng-model="ctrl.descriptionColumn" theme="select2" ng-required="true">
            <ui-select-match placeholder="Select column...">{{$select.selected.lines[0]}}</ui-select-match>
            <ui-select-choices repeat="column.id as column in ctrl.availableColumns">
              <small ng-bind-html="column.lines[0] | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select>
          <small ng-repeat="line in ctrl.availableColumns[ctrl.descriptionColumn].lines track by $index">{{line}}<br></small>
        </div>
        <div class="transaction-list-item-cell transaction-list-item-description">
          <ui-select name="importTransactionsCommentColumn" ng-model="ctrl.commentColumn" theme="select2">
            <ui-select-match placeholder="Select column...">{{$select.selected.lines[0]}}</ui-select-match>
            <ui-select-choices repeat="column.id as column in ctrl.availableColumns">
              <small ng-bind-html="column.lines[0] | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select>
          <small ng-repeat="line in ctrl.availableColumns[ctrl.commentColumn].lines track by $index">{{line}}<br></small>
        </div>
        <div class="transaction-list-item-cell transaction-list-item-value">
          <ui-select name="importTransactionsInValueColumn" ng-model="ctrl.inValueColumn" theme="select2">
            <ui-select-match placeholder="Select column...">{{$select.selected.lines[0]}}</ui-select-match>
            <ui-select-choices repeat="column.id as column in ctrl.availableColumns">
              <small ng-bind-html="column.lines[0] | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select>
          <small ng-repeat="line in ctrl.availableColumns[ctrl.inValueColumn].lines track by $index">{{line}}<br></small>
        </div>
        <div class="transaction-list-item-cell transaction-list-item-value">
          <ui-select name="importTransactionsOutValueColumn" ng-model="ctrl.outValueColumn" theme="select2">
            <ui-select-match placeholder="Select column...">{{$select.selected.lines[0]}}</ui-select-match>
            <ui-select-choices repeat="column.id as column in ctrl.availableColumns">
              <small ng-bind-html="column.lines[0] | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select>
          <small ng-repeat="line in ctrl.availableColumns[ctrl.outValueColumn].lines track by $index">{{line}}<br></small>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn"
          ng-click="ctrl.close()">{{ctrl.t.closeButtonText}}</button>
  <button class="btn btn-primary"
          ng-click="ctrl.ok()">{{ctrl.t.actionButtonText}}</button>
</div>
