<div class="row-separator"></div>
<div class="transaction-list-item">
  <div class="transaction-list-item-cell transaction-list-item-date">
    <input type="text" ng-model="ctrl.transaction.date" datepicker ng-change="ctrl.updateTransaction()" />
  </div>
  <div class="transaction-list-item-cell transaction-list-item-description" ng-class="{}">
    <input type="text" ng-model="ctrl.transaction.description" ng-model-options="{ getterSetter: true, debounce: 500}" ng-change="ctrl.updateTransaction()" />
  </div>
  <div class="transaction-list-item-cell transaction-list-item-destination-account">
    <ui-select ng-model="ctrl.transaction.destAccountId" theme="select2">
      <ui-select-match placeholder="Select or search an account in the list...">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="account.id as account in ctrl.availableAccounts | filter: $select.search">
        <span ng-bind-html="account.name | highlight: $select.search"></span>
        <small ng-bind-html="account.description | highlight: $select.search"></small>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="transaction-list-item-cell transaction-list-item-value">{{ ctrl.transaction.value > 0 ? ctrl.transaction.value : "" }}</div>
  <div class="transaction-list-item-cell transaction-list-item-value">{{ ctrl.transaction.value < 0 ? -ctrl.transaction.value : "" }}</div>
  <div class="transaction-list-item-cell transaction-list-item-actions" ng-click="ctrl.toggleTransaction()"></div>
</div>
<div split-list-item ng-repeat="split in ctrl.transaction.splits track by split.id" class="transaction-list-item-split" data="split" ng-show="ctrl.showSplits"></div>
