<div class="account-details-wrapper wrapper-show" ng-class="{'mobile-show':ctrl.show}">
	<div id="app-navigation-toggle-back" class="details-back icon-download" ng-click="ctrl.closeAccount()"></div>
	<div ng-if="!ctrl.loading">
		<div id="emptycontent" class="">
			<div class="icon-contacts-dark"></div>
			<h2>{{ctrl.t.noAccount}}</h2>
		</div>
	</div>
	<div>
		<header class="accountdetails__header unbalanced-transactions__header">
      <avatar data="ctrl.account" ng-class="{'avatar--missing': ctrl.account.avatar()===undefined}"></avatar>
			<div id="details-account-infos">
				<h2>
					<span class="accountdetails__name">Unbalanced Transactions</span>
				</h2>
				<div id="details-org-container">
					<ui-select title="Choose a currency" ng-model="ctrl.account.currency" ng-change="ctrl.updateAccount()" theme="select2" tagging tagging-label="false">
		 	      <ui-select-match placeholder="{{ ctrl.t.placeholderCurrency }}">{{$select.selected}}</ui-select-match>
		 	      <ui-select-choices repeat="currency in ctrl.availableCurrencies | filter: $select.search">
		 	        <span ng-bind-html="currency | highlight: $select.search"></span>
		 	      </ui-select-choices>
		 	    </ui-select>
				</div>
			</div>
			<div id="details-actions">
				<a href="{{ctrl.account.data.url}}" id="account-export-link"
				   class="icon-download-white" title="{{ctrl.t.download}}"
				   download="{{ ctrl.account.readableFilename() }}"></a>
			</div>
		</header>
		<section>
			<unbalanced-transaction-list></unbalanced-transaction-list>
		</section>
	</div>
</div>
